<ul class="sm:hidden flex flex-row justify-around mx-4 my-2">
   <a href="/">
      <li class="text-lg" >Home</li>
   </a>
   <a href="/about">
      <li class="text-lg" >About</li>
   </a>
   <a href="/contact">
      <li class="text-lg" >Contact</li>
   </a>
</ul>
<footer class="mt-8 hidden text-center sm:block">
   <a href="https://github.com/milindgoel15">
      <p class="text-slate-300"> Made with <span class="text-red-600 transition-all hover:text-blue-600">❤</span> by <span class="text-blue-400 transition-all hover:text-blue-600">Milind Goel</span>
      </p>
  </a>
</footer>
   
</body>
</html>